@use '../../styles/functions' as *;

.login {
    display: flex;
    width: 100%;
    height: 100vh;

    .image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        //gap: 50px;
        width: 100%;
        height: 100%;
        padding: 0 pxToRem(150px);

        .logoImg {
            width: pxToRem(170px);

        }

       .welImg {
            margin-top: pxToRem(200px);
            width: pxToRem(600px);
            height: pxToRem(330px);

           img {
                width: 100%;
                height: 100%;
                object-fit: cover;

           }
        }
    }

    .welcome {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 pxToRem(150px);

    }
}
