@use '../../styles/placeholders' as *;

.formBtn {
  @extend %avenirFontMedium;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 100%;
}
