$primary: #213f7d;
$secondary: rgba(84, 95, 125, 0.1);
$lime-green: #39cdcc;
$dark-blue: #545f7d;
$light-pink: #df18ff;
$deep-purple: #5718ff;
$orange: #f55f44;
$light-red: #ff3366;

$blacklist: #e4033b;
$active: #39cd62;
$pending: #e9b200;

//color palette
$colors: (
    'primary': $primary,
    'secondary': $secondary,
    'lime-green': $lime-green,
    'dark-blue': $dark-blue,
    'light-pink': $light-pink,
    'deep-purple': $deep-purple,
    'orange': $orange,
    'light-red': $light-red,
    'blacklist': $blacklist,
    'active': $active,
    'pending': $pending,
);

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

// font-size
$base-font-size: 1rem;
$font-size-xs: $base-font-size * 0.75;
$font-size-sm: $base-font-size * 0.875;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
